@use 'var';

.header {
    width: 100%;
    height: 80px;
    background-color: var.$laranja;
    display: flex;
    padding: 8px 50px;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    @media (max-width: 768px){
        height: 70px;
        padding: 8px 30px;
    }

    .div-links {
        width: 100%;

        @media (max-width: 768px) {
            display: none;
        }
    }
    .links {
        margin: 0 auto;
        display: flex;
        max-width: 200px;
        width: 100%;


        &__item {
            margin-right: 25px;
            transition: transform .5s ease;

            &:hover {
                transform: scale(1.2);
            }

            
            a {
                color: var.$preto;
                font-size: 20px;
                text-decoration: none;
                font-weight: bold;
                transition: color .5s ease;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .icon-heisenberg{
        margin-left: 20px;

        @media (max-width: 768px){
            margin-left: 0;
        }

        &__svg {
            max-width: 50px;
        }
    }

    .leonardo {
        min-width: 150px;

        @media (max-width: 768px) {
            min-width: 10px;
        }

        p {
            text-align: center;
        }
    }
}