@use 'var';

.personagens  {
    width: 100%;
    padding: 5vw;

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    .container {
        width: 100%;
        display: block;

        &__item {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            &:nth-child(2), &:nth-child(4) {
                @media (max-width: 768px) {
                    flex-direction: column-reverse;
                }
            }

            img {
                width: 100%;
                max-width: 300px;
            }

            .textos {
                padding: 10px;

                .title {
                text-align: center;
                color: var.$laranja;

                @media (max-width: 768px) {
                    font-size: 55px;
                }
                }

                .text-sm {
                text-align: center;
                margin-top: -15px;
                margin-bottom: 30px;
                color: var.$laranja;
                border-bottom: 2px solid var.$laranja;
                padding-bottom: 5px;
                } 

                .text {
                text-align: justify;
                color: var.$laranja;
                
                @media (max-width: 768px) {
                    font-size: 17px;
                    font-weight: 200;
                }
                }
            }
        }
    }
}