@use 'var';
@use 'sobre';
@use 'header';
@use 'personagens';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: Breaking;
    src: url(../../assets/Heart\ Breaking\ Bad.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.text {
    font-family: 'Roboto Slab', sans serif;
    font-weight: 300;
    font-size: 20px;
}

.text-sm {
    font-family: 'Roboto Slab', sans serif;
    font-weight: 500;
    font-size: 16px;
}

.text-lg {
    font-family: 'Roboto Slab', sans serif;
    font-weight: 500;
    font-size: 24px;
}

.title {
    font-family: Breaking, sans serif;
    font-weight: 500;
    font-size: 70px;
}

.title-sm {
    font-family: Breaking, sans serif;
    font-weight: 500;
    font-size: 16px;
}

.title-lg {
    font-family: Breaking, sans serif;
    font-weight: 500;
    font-size: 90px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var.$preto;
}

.image-background {
    width: 100%;
    padding-top: 80px;

    @media (max-width: 768px) {
        padding-top: 70px;
    }
    img {
        width: 100%;
    }
}

.trailer {
    padding: 5vw;
    flex-direction: column;

    h1 {
        width: 100%;
        text-align: center;
        color: var.$laranja;
        border-bottom: 2px solid var.$laranja;

        @media (max-width: 768px) {
            font-size: 70px;
        }
    }

    iframe {
        width: 60%;
        min-height: 500px;
        padding: 3vw;

        @media (max-width: 768px) {
            width: 100%;
            min-height: 200px;
        }
    }
}

footer {
    height: 80px;
    background-color: var.$laranja;
}